<header class="header">
  <div class="foto-perfil-wrapper">
    <img
      src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29uYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
    />
  </div>
  <div class="header-menu-wrapper">
    <a href="/calendario" routerLinkActive="active" class="header-menu__item">
      <mat-icon class="icone">events</mat-icon>
    </a>
    <a href="/notificacoes" routerLinkActive="active" class="header-menu__item">
      <mat-icon
        *ngIf="temNovasNotificacoes"
        class="icone"
        matBadge="1"
        matBadgeSize="small"
        matBadgeColor="warn"
        >notifications</mat-icon
      >
      <mat-icon *ngIf="!temNovasNotificacoes" class="icone"
        >notifications</mat-icon
      >
    </a>
  </div>
  <div class="welcome-wrapper">
    <h2>Olá, {{ user?.nome }}</h2>
    <p>Bem-vindo(a) ao TECHMEDIC</p>
  </div>
  <div class="busca-wrapper">
    <app-busca-input-field
      (buscaEmmiter)="buscaRealizada($event)"
    ></app-busca-input-field>
  </div>
</header>
