<div class="notificacoes-container">
  <app-back-btn></app-back-btn>
  <h2>Notificações</h2>
  <a class="deletar-notificacoes" (click)="apagarNotificacoes()"
    >Apagar notificações</a
  >
  <div *ngIf="notificacaoLoaded | async">
    <div class="notificacoes">
      <div class="notificacao" *ngFor="let notificacao of notificacoes">
        <hr />
        <app-notificacao [notificacao]="notificacao"></app-notificacao>
      </div>
      <div *ngIf="notificacoes.length === 0">
        <hr />
        <h3 class="no-notificacoes">Não há notificações</h3>
      </div>
    </div>
  </div>
</div>
