.notificacoes-container
    background-color: #fff
    justify-content: center
    align-items: center
    min-height: 100vh
    display: block
    overflow: hidden

    h2
        font-family: 'Overpass', sans-serif
        font-weight: bold
        font-size: 25px
        color: #090F47
        display: block
        text-align: left
        margin-bottom: 20px
        margin-top: -32px
        margin-left: 60px

    h3
        font-family: 'Overpass', sans-serif
        font-weight: bold
        font-size: 20px
        color: #090F47
        display: flex
        align-items: center
        justify-content: center
        align-content: center
        flex-wrap: nowrap

.deletar-notificacoes
    font-family: 'Roboto', sans-serif
    font-weight: bold
    font-size: 13px
    color: #1987FB
    position: absolute
    top: 50px
    right: 10px
