<div class="footer">
  <div class="footer-menu">
    <a href="/home" routerLinkActive="active" class="footer-menu__item">
      <mat-icon class="icone" [class.active]="isActive('home')">home</mat-icon>
    </a>
    <a href="/notificacoes" routerLinkActive="active" class="footer-menu__item">
      <mat-icon
        *ngIf="temNovasNotificacoes"
        class="icone"
        matBadge="1"
        matBadgeSize="small"
        matBadgeColor="warn"
        >notifications</mat-icon
      >
      <mat-icon *ngIf="!temNovasNotificacoes" class="icone"
        >notifications</mat-icon
      >
    </a>
    <a
      href="/calendario"
      routerLinkActive="active"
      class="footer-menu__item_calendario"
    >
      <mat-icon class="icone_calendario">event</mat-icon>
    </a>
    <a href="#" class="footer-menu__item">
      <mat-icon class="icone" [class.active]="isActive('foto')"
        >camera_alt</mat-icon
      >
    </a>
    <a href="/usuario" class="footer-menu__item">
      <mat-icon class="icone" [class.active]="isActive('usuario')"
        >person</mat-icon
      >
    </a>
  </div>
</div>
