<div class="footer">
  <div class="footer-menu">
    <a routerLink="/home" routerLinkActive="active" class="footer-menu__item">
      <mat-icon class="icone" [class.active]="isActive('home')">home</mat-icon>
    </a>
    <a href="#" class="footer-menu__item">
      <mat-icon class="icone" [class.active]="isActive('notificacoes')"
        >notifications</mat-icon
      >
    </a>
    <a href="#" class="footer-menu__item_calendario">
      <mat-icon class="icone_calendario">event</mat-icon>
    </a>
    <a href="#" class="footer-menu__item">
      <mat-icon class="icone" [class.active]="isActive('mensagens')"
        >chat</mat-icon
      >
    </a>
    <a href="#" class="footer-menu__item">
      <mat-icon class="icone" [class.active]="isActive('perfil')"
        >person</mat-icon
      >
    </a>
  </div>
</div>
