<div class="especialidades-wrapper">
  <h3>Principais especialidades</h3>
  <div class="row-wrapper">
    <mat-card class="especialidades" (click)="onCardClick('geral')">
      <mat-card-header class="especialidade-header">
        <div mat-card-avatar class="especialidade-avatar geral"></div>
        <mat-card-title class="especialidade-title">Geral</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('pediatra')">
      <mat-card-header class="especialidade-header">
        <div mat-card-avatar class="especialidade-avatar pediatra"></div>
        <mat-card-title class="especialidade-title">Pediatra</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('ginecologista')">
      <mat-card-header class="especialidade-header">
        <div mat-card-avatar class="especialidade-avatar ginecologia"></div>
        <mat-card-title class="especialidade-title">Ginecologia</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('endocrinologista')">
      <mat-card-header class="especialidade-header">
        <div mat-card-avatar class="especialidade-avatar endocrino"></div>
        <mat-card-title class="especialidade-title">Endocrino</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="row-wrapper">
    <mat-card class="especialidades" (click)="onCardClick('dermatologista')">
      <mat-card-header class="especialidade-header">
        <div mat-card-avatar class="especialidade-avatar dermato"></div>
        <mat-card-title class="especialidade-title">Dermato</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('dentista')">
      <mat-card-header class="especialidade-header">
        <div mat-card-avatar class="especialidade-avatar dentista"></div>
        <mat-card-title class="especialidade-title">Dentista</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('nutricionista')">
      <mat-card-header class="especialidade-header">
        <div mat-card-avatar class="especialidade-avatar nutricao"></div>
        <mat-card-title class="especialidade-title">Nutriçāo</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('oftalmologista')">
      <mat-card-header class="especialidade-header">
        <div mat-card-avatar class="especialidade-avatar oftamologo"></div>
        <mat-card-title class="especialidade-title">Oftamologo</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
