<div class="especialidades-wrapper">
  <h3>Principais especialidades</h3>
  <div class="row-wrapper">
    <mat-card class="especialidades" (click)="onCardClick('Geral')">
      <mat-card-header>
        <div mat-card-avatar class="geral"></div>
        <mat-card-title>Geral</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('Pediatra')">
      <mat-card-header>
        <div mat-card-avatar class="pediatra"></div>
        <mat-card-title>Pediatra</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('Ginecologia')">
      <mat-card-header>
        <div mat-card-avatar class="ginecologia"></div>
        <mat-card-title>Ginecologia</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('Endocrino')">
      <mat-card-header>
        <div mat-card-avatar class="endocrino"></div>
        <mat-card-title>Endocrino</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="row-wrapper">
    <mat-card class="especialidades" (click)="onCardClick('Dermato')">
      <mat-card-header>
        <div mat-card-avatar class="dermato"></div>
        <mat-card-title>Dermato</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('Dentista')">
      <mat-card-header>
        <div mat-card-avatar class="dentista"></div>
        <mat-card-title>Dentista</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('Nutriçāo')">
      <mat-card-header>
        <div mat-card-avatar class="nutricao"></div>
        <mat-card-title>Nutriçāo</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="especialidades" (click)="onCardClick('Oftamologo')">
      <mat-card-header>
        <div mat-card-avatar class="oftamologo"></div>
        <mat-card-title>Oftamologo</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
