<a (click)="onClick()">
  <mat-card class="medico-card">
    <mat-card-header class="medico-header">
      <div mat-card-avatar class="medico-avatar">
        <img
          mat-card-image
          [src]="cardMedico.photoUrl"
          [alt]="cardMedico.nome"
        />
      </div>
      <div class="title-wrapper">
        <mat-card-title class="medico-title"
          >{{ getTituloMedico() }}{{ cardMedico.nome }}</mat-card-title
        >
        <mat-card-subtitle>{{ getEspecialidadeStr() }}</mat-card-subtitle>
      </div>
      <div *ngIf="cardMedico.tipo === 'calendario'" class="calendario">
        <div class="icone-wrapper">
          <mat-icon class="icone">event</mat-icon>
        </div>
        <span class="agendamento">{{ getHoraConsulta() }}</span>
      </div>
    </mat-card-header>
    <!-- <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content> -->
  </mat-card>
</a>
